<!DOCTYPE html>
<html>
	<head>
		<title>NextPad</title>
		<meta charset="utf-8" />

		<style>
			#pad-content, #loading {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			#loading {
				display: block;
				background: #000;
				opacity: 0.7;
				transition: any 0.7;
				-webkit-transition: any 0.7;
				z-index: 9999;
			}
		</style>

		<script src="/static/js/jquery-1.8.2.min.js"></script>
		<script src="/static/js/diff_match_patch.min.js"></script>
		<script src="/static/js/jquery.typing-0.2.0.min.js"></script>
		<script src="/static/js/reconnecting-websocket.min.js"></script>
		<script src="/static/js/main.js"></script>
		<script>
			$(document).ready(function() {
				pad = new NextPad({
					"padID": "{{ padID }}",
					"color": "#{{ color }}",
					"ws": "ws://localhost:8888/ws",
					"editable": "#pad-content"
				});
				pad.run();
			});
		</script>
	</head>
	<body>
		<div id="loading"></div>
		<article id="pad-content">
		</article>
	</body>
</html>